output/
data/
*ndpi
*svs
*csv
*jpg
*h5
*png
*tar
*pth
*txt
*out
*pyc
*out
*so
*zip
*sh
*pt

dino/causal-conv1d/build/
checkpoints/
.ipynb_checkpoints/
__pycache__/
.idea/
HIPT/
datasets/
dataset/
Vim
.github
wandb/
MIL/results/
MIL/results_old/
